<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleNew.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Naruto Power Scaling - Battle Log</title>
</head>
<body>
    <div class="container mt-3">
        <nav class="navbar navbar-light bg-light px-3 roundedEdges">
            <div class="container-fluid">
                <a href="/"><img src="img/nps-logo.png" alt=""></a>
                <a href="/rankings"><button class="btn btn-outline-dark">Bingo Book</button></a>
                <a href="/profile"><button class="btn btn-outline-dark">Battle Log</button></a>
                <a href="/login"><button class="btn btn-outline-dark">Sign Up/Login</button></a>
            </div>
        </nav>

        <main class="clearfix bg-light my-3 p-3 roundedEdges">
            <h1 class="text-center naruto ">Battle Log</h1>

            <a>
            <h2>Select Ninja</h2>
            </a>


            <form action="/battle" method="get">
              <div class="parentSelect">
                <select name="ninjaOne" id="ninjaOne">
                  <option value="">Select Ninja 1</option>
                  <% for (i=0; i<ninja.length; i++) { %>
                  <option value="<%= ninja[i].name %>"><%=ninja[i].name%></option>
                  <% } %>
                </select>

                <select name="ninjaTwo" id="ninjaTwo">
                  <option value="">Select Ninja 2</option>
                  <% for (i=0; i<ninja.length; i++) { %>
                  <option value="<%= ninja[i].name %>"><%=ninja[i].name%></option>
                  <% } %>
                </select>
              </div>
              <button id="battle" type="submit">Battle</button>
            </form>
            
            <% let onePercent = Math.round(100 * battles[0].n1votes / (battles[0].n1votes + battles[0].n2votes)) %>
            <% let twoPercent = Math.round(100 * battles[0].n2votes / (battles[0].n1votes + battles[0].n2votes)) %>

            <% if (battles[0].n1votes == 0 && battles[0].n2votes == 0) { %>
              <% onePercent = 50 %>
              <% twoPercent = 50 %>
            <% } %>

            <div class="d-flex justify-content-center">
            <% for (let i=0; i<ninja.length; i++) { %>
              <% if (battles[0].n1 === ninja[i].name) { %>
                <div class="randomBattle d-flex justify-content-center card">
                    <img class="card-img-top" src="<%= ninja[i].img %>">
                    <p class="card-body text-center fs-3" id="n1name"><%= ninja[i].name %></p>
                    <span id="onePercent" class="text-center"><%= onePercent %></span>
                    <span id="n1amount"><%= battles[0].n1votes %></span>
                    <span id="n1battlesWon" class="hidden"><%= ninja[i].battlesWon %></span>
                    <a href="/data/<%=ninja[i]._id%>"><span class="btn btn-outline-dark mb-3 naruto fs-3">View Feats</span></a>
                    <span class="btn btn-outline-dark mb-3 naruto fs-3 vote">VOTE</span>
                </div>
              <% } %>
            <% } %>
            <span class="marginMiddle naruto">X</span>
            <% for (let i=0; i<ninja.length; i++) { %>
              <% if (battles[0].n2 === ninja[i].name) { %>
                <div class="randomBattle d-flex justify-content-center card">
                    <img class="card-img-top" src="<%= ninja[i].img %>">
                    <p class="card-body text-center fs-3" id="n2name"><%= ninja[i].name %></p>
                    <span id="twoPercent" class="text-center"><%= twoPercent %></span>
                    <span id="n2amount"><%= battles[0].n2votes %></span>
                    <span id="n2battlesWon" class="hidden"><%= ninja[i].battlesWon %></span>
                    <a href="/data/<%=ninja[i]._id%>"><span class="btn btn-outline-dark mb-3 naruto fs-3">View Feats</span></a>
                    <span class="btn btn-outline-dark mb-3 naruto fs-3 vote">VOTE</span>
                </div>
              <% } %>
            <% } %>
            </div>
        </main>

        <section>
          <form action="/comment" method="post">
            <input type="text" name="comment" placeholder="Share your thoughts here!">
            <input type="text" name="battle" value="<%= battles[0]._id %>" class="hidden">
            <button type="submit">Post Comment</button>
          </form>



          <div class="list-group">
            <% for (let i=comments.length - 1; i>=0; i--) { %>
              <span><%= comments[i].comment %></span>
              <% if (String(comments[i].battleId) == String(battles[0]._id)) { %>
                <div class="list-group-item">
                <span><%= comments[i].comment %></span>
                <% for (let j=0; j<users.length; j++) { %>
                  <% if (String(comments[i].userId) == String(users[j]._id)) { %>
                  <strong><%= users[j].local.username %></strong>
                  <span>: <%= comments[i].comment %></span>
                  <% } %>
                <% } %>
                </div>
              <% } %>
            <% } %>
          </div>
        </section>
    </div>
    <script src="main.js"></script>
</body>
</html>